<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>Conference rooms reservation </title>
   <h1 style="text-align: center ;font-family: Arial; font-size: large; color: darkblue">
       Conference rooms reservation app
   </h1>
</head>

    <body>
    {% csrf_token %}
    <p style=" text-align: left; color: blue">
    <a href = "http://127.0.0.1:8000/cfrooms/list_room">Conference rooms list</a>
        </p>
    <p>
    <a href ="http://127.0.0.1:8000/cfrooms/add_room">Add new conference room</a>
    </p>
    </body>
</html>