<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% csrf_token %}
<form action=" " method="POST">

    <label for="name">Room name: </label>
    <input id="name" type="text" name="name" value="">
    <label for="places">Room places: </label>
    <input id="places" type="number" name="places" value="">
    <label for="projector">Projector available: </label>
    <select name="projector" id ="projector">
        <option value="">Select...</option>
        <option value='False'>No</option>
        <option value='True'>Yes</option>
    </select>
    <input type="submit" value="Set conference room">
</form>
</body>
</html>